/* === Small CSS Reset === */
*{
    margin: 0;
    padding: 0;
}
*, *::after, *::before{
    box-sizing: border-box;
}

body {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 3rem;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    width: 20vw;
}
.delete {
    padding-left:20px;
    cursor:pointer;
}

button {
    margin-bottom: 2rem;
    font-size: 1rem;
    padding: .5rem;
    border-radius: 10px;
    width: 20vw;
}

.output{
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

ul li{
    font-size: 1rem;
    list-style: none;
}

span{
 font-size: 2rem;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.x {
    font-size: 2rem;
}